
body {
    background-color: grey;
}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.DeckTable{
    font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  min-height: 50px;
  resize: none;
  text-align: center;
}
