
body {
  background-color: #b0c4de;
}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

.a {
	-moz-box-shadow:inset 0px 0px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f5978e;
	box-shadow:inset 0px 0px 0px 0px #f5978e;
	background-color:#f24537;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Source Sans Pro', sans-serif;
	font-size:40px;
	padding:10px 36px;
	text-decoration:none;
  outline:none;
  width:300px;
}
.a:hover {
	background-color:#c62d1f;
}
.a:active {
	position:relative;
	top:1px;
}

.DeckTable{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    min-height: 50px;
    resize: none;
    text-align: center;
}

.WinClass{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  min-height: 50px;
  resize: none;
  text-align: center;
  color: green;
}

.LossClass{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  min-height: 50px;
  resize: none;
  text-align: center;
  color: red;
}
